.drinks__container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}

.drinks__container .drinks__image {
  height: 300px;
  object-fit: scale-down;
}

.card-drinks__more {
  display: flex;
  flex-direction: column;
}

.mini__loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
