@keyframes ldio-2yk1s8ym9b {
  0% {
    transform: scale(1.1500000000000001);
  }
  100% {
    transform: scale(1);
  }
}
.ldio-2yk1s8ym9b div {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 13.333333333333336px;
  left: 13.333333333333336px;
  background: #f05125;
  animation: ldio-2yk1s8ym9b 0.8928571428571428s cubic-bezier(0, 0.5, 0.5, 1)
    infinite;
  animation-delay: -0.26785714285714285s;
}
.ldio-2yk1s8ym9b div:nth-child(2) {
  top: 13.333333333333336px;
  left: 106.66666666666666px;
  background: #fdb813;
  animation-delay: -0.17857142857142858s;
}
.ldio-2yk1s8ym9b div:nth-child(3) {
  top: 106.66666666666666px;
  left: 13.333333333333336px;
  background: #32a0da;
  animation-delay: 0s;
}
.ldio-2yk1s8ym9b div:nth-child(4) {
  top: 106.66666666666666px;
  left: 106.66666666666666px;
  background: #7fbb42;
  animation-delay: -0.08928571428571429s;
}
.loadingio-spinner-cube-eks2eoquvh5 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-2yk1s8ym9b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2yk1s8ym9b div {
  box-sizing: content-box;
}
